/* SteamSidebar.css */

@import url('https://fonts.cdnfonts.com/css/vampire-wars');

                

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.steam-sidebar {
  width: 280px;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: 'Vampire Wars', sans-serif;                                             
  font-weight: normal;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #3c4046;
}

.steam-logo {
  width: 125px; /* Adjust logo size as needed */
  height: auto;
  margin-bottom: 0px; /* Optional: Add space below the logo */
}

.sidebar-menu {
  flex: 1; /* Take remaining space */
  overflow-y: auto; /* Enable scrollbar for menu if content exceeds height */
}

.sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.sidebar-menu ul li {
  margin-bottom: 10px;
}

.sidebar-menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.sidebar-menu ul li a:hover {
  background-color: rgb(255, 0, 179);
}

.sidebar-footer {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #3c4046;
  margin-top: auto; /* Push footer to the bottom */
}

.sidebar-images {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the images horizontally */
    align-items: center;
    margin-top: 20px;
  }
  
  .sidebar-image {
    width: 50px;
    max-width: 65px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px;
  }