




/* src/GameTile.css */
.game-tile {
    width: 600px;
    height: 330px;
    margin: 10px;
    border: 1px solid #cccccc00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .game-tile:hover {
    transform: scale(1.05);
  }
  
  .game-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .game-title {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #37ebf3;
    text-decoration: none;
  }
  